<mat-toolbar color="primary">
    <div class="container">
        <div class="row justify-content-between">
            <mat-form-field appearance="fill" class="gallerySearch col-sm-5">
                <mat-label>Search gallery</mat-label>
                <input matInput placeholder="GIF Name" #searchString (change)="searchListByString(searchString.value)">
                <mat-icon matSuffix color="primary">search</mat-icon>
            </mat-form-field>
            <span class="col-md-auto filterButton">
                <button mat-flat-button (click)="toggleDateFilter()"
                    matTooltip="Sort by date {{ascending ? 'descending' : 'ascending'}}" color="primary">
                    <!-- Descending Icon -->
                    <svg *ngIf="ascending" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-sort-numeric-down-alt" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M11.36 7.098c-1.137 0-1.708-.657-1.762-1.278h1.004c.058.223.343.45.773.45.824 0 1.164-.829 1.133-1.856h-.059c-.148.39-.57.742-1.261.742-.91 0-1.72-.613-1.72-1.758 0-1.148.848-1.836 1.973-1.836 1.09 0 2.063.637 2.063 2.688 0 1.867-.723 2.848-2.145 2.848zm.062-2.735c.504 0 .933-.336.933-.972 0-.633-.398-1.008-.94-1.008-.52 0-.927.375-.927 1 0 .64.418.98.934.98z" />
                        <path
                            d="M12.438 8.668V14H11.39V9.684h-.051l-1.211.859v-.969l1.262-.906h1.046zM4.5 2.5a.5.5 0 0 0-1 0v9.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L4.5 12.293V2.5z" />
                    </svg>

                    <!-- Ascending Icon -->
                    <svg *ngIf="!ascending" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-sort-numeric-up" viewBox="0 0 16 16">
                        <path d="M12.438 1.668V7H11.39V2.684h-.051l-1.211.859v-.969l1.262-.906h1.046z" />
                        <path fill-rule="evenodd"
                            d="M11.36 14.098c-1.137 0-1.708-.657-1.762-1.278h1.004c.058.223.343.45.773.45.824 0 1.164-.829 1.133-1.856h-.059c-.148.39-.57.742-1.261.742-.91 0-1.72-.613-1.72-1.758 0-1.148.848-1.835 1.973-1.835 1.09 0 2.063.636 2.063 2.687 0 1.867-.723 2.848-2.145 2.848zm.062-2.735c.504 0 .933-.336.933-.972 0-.633-.398-1.008-.94-1.008-.52 0-.927.375-.927 1 0 .64.418.98.934.98z" />
                        <path
                            d="M4.5 13.5a.5.5 0 0 1-1 0V3.707L2.354 4.854a.5.5 0 1 1-.708-.708l2-1.999.007-.007a.498.498 0 0 1 .7.006l2 2a.5.5 0 1 1-.707.708L4.5 3.707V13.5z" />
                    </svg>
                </button>
            </span>
        </div>
    </div>
</mat-toolbar>
<div class="container">
    <div class="jumbotron jumbotron-fluid justify-content-center dflex h-100" *ngIf="displayedGifs.length === 0">
        <h1 class="align-center">Nothing to show...</h1>
    </div>

    <div class="album py-3 bg-light" *ngIf="displayedGifs.length > 0" CdkDropListGroup>
        <mat-grid-list cols="{{columnCount}}" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" cdkDropList
            (cdkDropListDropped)="drop($event)">
            <mat-grid-tile *ngFor="let gif of displayedGifs" cdkDrag>
                <div class="card">
                    <div class="itemList_imageContainer" (click)="selectedGif = gif">
                        <img class="itemImage" src="{{gif.url}}" alt="{{gif.name}}">

                        <div class="card-img-overlay" *ngIf="selectedGif?.url === gif.url" (click)="downloadSelected()">
                            <!-- Download Icon -->
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="fileDownload" viewBox="0 0 16 16">
                                <path
                                    d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zm-1 4v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 11.293V7.5a.5.5 0 0 1 1 0z" />
                            </svg>
                            <div>Download GIF</div>
                        </div>
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>

    <div class="fab">
        <button type="button" mat-fab matTooltip="Add new GIF" [matTooltipPosition]="'above'" color="accent"
            (click)="openBottomSheet()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div>