<div class="nav-header">
    <mat-toolbar class="container">
        <div class="page-title">
            <span color="primary" class="title primary">GIF </span>
            <span class="title secondary">Gallery</span>
        </div>
        <span class="example-spacer"></span>
        <div class="col-md-auto action_buttons">
            <button class="action_button primary_button" mat-flat-button (click)="openBottomSheet()"
                color="primary">新規追加</button>
            <button class="action_button warning_button" mat-flat-button (click)="toggleDateFilter()"
                color="warn">順番切り替え</button>
        </div>
    </mat-toolbar>
</div>

<section id="intro" class="jumbotron-fluid">
    <div class="row justify-content-center flex onboardingcards">
        <div class="col-md-auto onboarding-card pulse">
            <div class="flying-card">
                <img src="/assets/images/search_image_light.png">
                <div class="onboarding-title">検索</div>
            </div>
            <br>
            <div class="col-md-auto description-cards">「新規追加」から<br>GIF画像を検索ことができる</div>
        </div>
        <div class="col-md-auto pulse">
            <div class="forward-sign">
                <img src="/assets/images/forward-fill-svgrepo-com.svg">
            </div>
        </div>
        <div class="col-md-auto onboarding-card pulse">
            <div class="flying-card">
                <img src="/assets/images/add_list_light2.png">
                <div class="onboarding-title">追加</div>
            </div>
            <br>
            <div class="col-md-auto description-cards">画像を選択、<br>リストに追加する</div>

        </div>
        <div class="col-md-auto pulse">
            <div class="forward-sign">
                <img src="/assets/images/forward-fill-svgrepo-com.svg">
            </div>
        </div>
        <div class="col-md-auto onboarding-card pulse">
            <div class="flying-card">
                <img src="/assets/images/download_image_light.png">
                <div class="onboarding-title">ダウンロード</div>
            </div>
            <br>
            <div class="col-md-auto description-cards">リストから<br>GIF画像をダウンロードする</div>

        </div>
    </div>
</section>

<div class="container bg-light">
    <div class="search-section py-1">
        <mat-form-field appearance="fill" class="gallerySearch col-sm-5" color="accent">
            <input matInput placeholder="GIF名を入力してください" #searchString class="searchString">
            <mat-icon matPrefix class="searchIcon">search</mat-icon>
        </mat-form-field>
        <button class="search_btns searchButton" mat-flat-button
            (click)="searchListByString(searchString.value)">検索</button>
        <button class="search_btns" mat-flat-button (click)="clearSearchBar(searchString.value); searchString.value=''"
            [ngClass]="searchClicked? 'resetButton' : 'unresetButton'">リセット</button>
    </div>
    <div class="notfound" *ngIf="searchClicked && displayedGifs.length < 1">
        <p>{{"\"" + lastSearchedString +"\" に該当する画像は見つかりませんでした。"}}</p>
    </div>
    <div class="jumbotron jumbotron-fluid justify-content-center dflex h-100"
        *ngIf="!searchClicked && displayedGifs.length === 0">
        <h1 class="align-center">GIF画像を追加してください</h1>
    </div>

    <div class="album py-1 bg-light" *ngIf="displayedGifs.length > 0" CdkDropListGroup>
        <mat-grid-list [gridCols]="{xs: 2, sm: 4, md: 5, lg: 6, xl: 7}"
            class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" cdkDropList (cdkDropListDropped)="drop($event)">
            <mat-grid-tile *ngFor="let gif of displayedGifs" cdkDrag>
                <div class="card">
                    <div class="itemList_imageContainer" (click)="selectGif(gif)">
                        <img class="itemImage" src="{{gif.url}}" alt="{{gif.name}}">

                        <div class="card-img-overlay" *ngIf="selectedGif?.url === gif.url">
                            <button class="action_button sort" mat-flat-button (click)="downloadSelected()"
                                color="warn">画像ダウンロード</button>
                        </div>
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>