html,
body {
    height: 100%;

    ::-webkit-scrollbar {
        display: none;
    }

    .mat-mdc-dialog-container .mdc-dialog__title {
        font-weight: bolder !important;
    }

    .mdc-dialog__actions {
        margin: 1rem;
        margin-top: 0;
    }


    .mat-mdc-form-field-subscript-wrapper {
        display: none !important;
    }

    --header-bg-color: #fafafa;
    --header-border-color: #000;
    --secondary-font-color: #3A0216;
    --body-bg-color: #f2f2f2;
    --primary-color: #3C95C1;
    --accent-color: #005bac;
    --warning-color: #e65549;

    .mat-mdc-form-field-focus-overlay {
        background-color: var(--header-bg-color) !important;
    }

    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: unset !important;
    }

    .mat-mdc-form-field-icon-prefix {
        padding: unset;
    }

    .search-section {
        .mat-mdc-form-field-flex {
            height: 6vh !important;
        }

        .mat-mdc-form-field-infix {
            padding-top: 0.5em !important;
        }
    }

    .saveGifName {
        width: 100%;
    }

}

body {
    margin: 0;
    font-family: Helvetica, Roboto, sans-serif;
    background-color: var(--header-bg-color);
}