/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;

    ::-webkit-scrollbar {
        display: none;
    }

    .mat-mdc-dialog-container .mdc-dialog__title {
        font-weight: bolder !important;
    }

    .mdc-dialog__actions {
        margin: 1rem;
        margin-top: 0;
    }


    .mat-mdc-form-field-subscript-wrapper {
        display: none !important;
    }

    .gallerySearch {
        scale: 0.8;
        margin-left: -1.5rem;
    }
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}